.password {
  &__slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    height: 2.5rem; /* thumbHeight + (2 x thumbBorderWidth)*/
    width: 100%;
    background-color: transparent;
    overflow: hidden;
  }

  &__length {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.4375rem;

    &-text {
      font-size: var(--fs-heading-large);
      color: var(--neon-green);
    }
  }

  &__label {
    font-size: var(--fs-body-medium);
    color: var(--almost-white);
  }

  &__info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
}

input[type="range"] {
  &::-webkit-slider-runnable-track {
    background-image: linear-gradient(
      90deg,
      var(--neon-green) var(--progress-bar-percent),
      var(--secondary-dark-grey) var(--progress-bar-percent)
    );
    height: 0.5rem; /*trackHeight*/
    transition: 0.3s;
  }

  &::-moz-range-track {
    background-image: linear-gradient(
      90deg,
      var(--neon-green) var(--progress-bar-percent),
      var(--secondary-dark-grey) var(--progress-bar-percent)
    );
    height: 0.5rem; /*trackHeight*/
    transition: 0.3s;
  }

  &::-ms-track {
    background-image: linear-gradient(
      90deg,
      var(--neon-green) var(--progress-bar-percent),
      var(--secondary-dark-grey) var(--progress-bar-percent)
    );
    height: 0.5rem; /*trackHeight*/
    transition: 0.3s;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.125rem solid var(--almost-white); /*border-width should be equal to thumbBorderWidth if you want same border width across all browsers and border-color should match the background*/
    border-radius: 50%;

    background: var(--almost-white);
    margin-top: -0.625rem; /* -[thumbHeight + (2 x thumbBorderWidth) - trackHeight]/2*/

    transition: 0.3s;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.125rem solid var(--almost-white); /*border-width should be equal to thumbBorderWidth if you want same border width across all browsers and border-color should match the background*/
    border-radius: 50%;

    background: var(--almost-white);
    margin-top: -0.625rem; /* -[thumbHeight + (2 x thumbBorderWidth) - trackHeight]/2*/

    transition: 0.3s;
    cursor: pointer;
  }

  &::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.125rem solid var(--almost-white); /*border-width should be equal to thumbBorderWidth if you want same border width across all browsers and border-color should match the background*/
    border-radius: 50%;

    background: var(--almost-white);
    margin-top: -0.625rem; /* -[thumbHeight + (2 x thumbBorderWidth) - trackHeight]/2*/

    transition: 0.3s;
    cursor: pointer;
  }

  &::-moz-range-progress {
    height: 0.5rem;
    background-color: var(--neon-green);
  }

  &:hover {
    &::-ms-thumb {
      background: var(--secondary-dark-grey);
      border-color: var(--neon-green);
    }

    &::-moz-range-thumb {
      background: var(--secondary-dark-grey);
      border-color: var(--neon-green);
    }

    &::-webkit-slider-thumb {
      background: var(--secondary-dark-grey);
      border-color: var(--neon-green);
    }
  }
}
